{{ $glossary := .Site.Data.Glossary }}

{{ $value := .Get 0 }}
{{ $description := (index $glossary "name" $value).description }}

<style>
.tooltip {
  /* Span a container for tooltip text. */
  position:relative;
  border-bottom: 1px dashed grey;
  /* ---------------------------------- */
}

.tooltip:before {
  /* Do some CSS3 magic. */
  content: attr(data-text); 
  position:absolute;
  /* ------------------- */
  
  /* Centre vertically. */
  top:50%;
  transform:translateY(-50%);
  /* ------------------ */

  
  /* Move to the right and add a left margin. */
  left:100%;
  margin-left:15px; 
  /* ---------------------------------------- */
  

  /* Add some basic styling. */
  width:200px;
  padding:10px;
  border-radius:10px;
  text-align:center;
  background-color: grey;
  color: white;
  /* ----------------------- */


  /* Hide by default. */
  display:none;
  /* ---------------- */
}

.tooltip:hover:before {
  display:block;
}
</style>

<span 
  data-text="{{ $description }}" 
  class="tooltip"
>{{ $value | safeHTML }}</span>

Value: {{ $value }}
Description: {{ $description }}











