/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root { */
/*   --ifm-color-primary: #2e8555; */
/*   --ifm-color-primary-dark: #29784c; */
/*   --ifm-color-primary-darker: #277148; */
/*   --ifm-color-primary-darkest: #205d3b; */
/*   --ifm-color-primary-light: #33925d; */
/*   --ifm-color-primary-lighter: #359962; */
/*   --ifm-color-primary-lightest: #3cad6e; */
/*   --ifm-code-font-size: 95%; */
/*   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1); */
/* } */

 /*For readability concerns, you should choose a lighter palette in dark mode. */
 [data-theme='dark'] { 
   --ifm-color-primary: #25c2a0; 
   --ifm-color-primary-dark: #21af90; 
   --ifm-color-primary-darker: #1fa588; 
   --ifm-color-primary-darkest: #1a8870; 
   --ifm-color-primary-light: #29d5b0; 
   --ifm-color-primary-lighter: #32d8b4; 
   --ifm-color-primary-lightest: #4fddbf; 
   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); 
 } 

/*Grab the OpenDyslexic font from a CDN.*/
@font-face {
  font-family: 'opendyslexic';
	src: url('/fonts/OpenDyslexic3-Regular.ttf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('/fonts/OpenDyslexic3-Bold.ttf');
	font-weight: bold;
	font-style: normal;
} 

/*Use fonts likely stored on the users device.*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Make top-level sidebar items bold.*/
.menu__list-item-collapsible {
  font-weight: bold;
}

/*Disable hover on top-level sidebar items.*/
.menu__list-item-collapsible:hover {
  background-color: unset !important;
}

/*Make breadcrumb boxes, preblocks, and codeblocks a sharp rectangle.*/
.breadcrumbs__link,
pre,
code {
    border-radius: 0;
}

/*Make prev/next page boxes a sharp rectangle*/
.pagination-nav__link {
  border-radius: 0;
}

/*Signal outbound links that will take users away from this site.*/
article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

/*Hide copy code button on codeblocks with `output` set as the syntax*/
.language-output div[class^="buttonGroup"] {
    display: none;
}
div[class^="language"]:not(.language-output) {
    margin-bottom: 0;
}

  .language-output {
    background-color: LightGray !important;
  }

 [data-theme='dark'] { 
  .language-output {
    background-color: black !important;
  }
}
